.card{
    display: flex;
    flex-direction: column;
    justify-content: right;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    margin: 10px;
    margin-top: 15px;
    transition: transform 0.2s
}
.card-container {
  display: flex;
  flex-wrap: wrap; /* Makes it responsive and wrap on smaller screens */
  gap: 5px;        /* Space between cards */
  justify-content: center; /* Optional: center the cards */
}
.card-img-top{
  width: 155px;
  height: 150px;
  border-radius: 10px;
}
.botton-button :hover{
   background-color: #dbcfcf;
}