.custom-toolbar {
  background: linear-gradient(120deg, #1b263b 0%, #415a77 100%) !important;
  color: white !important;
  height: 64px; /* Default height for mat-toolbar */
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px; /* Match Material's internal padding */
  box-sizing: border-box;
}
.custom-toolbar .app-title {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.custom-toolbar .spacer {
  flex: 1 1 auto;
}


