
<div class="outerdiv" >
    <h1>Register Form</h1>
<form [formGroup]="User" (ngSubmit)="onsubmit()">

    <div class="form-group required">
        <label for="name">Full Name <span class="asterisk">*</span></label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group required">
        <label for="email">Enter E-mail Address <span class="asterisk">*</span></label>
        <input class="form-control" type="email" formControlName="email">
    </div>
    <div class="form-group required">
        <label for="password">Enter Password <span class="asterisk">*</span></label>
        <input type="password" class="form-control" formControlName="password">
        <sub> *Minium 6 Characters</sub>
    </div>
   
    <div class="form-group button-center">
         <button class="btn btn-primary" type="submit" [disabled]="!User.valid">Submit</button>
         
    </div>

</form>


<div *ngIf="successMessage" style="color: green;">
    {{successMessage}}
</div>
<div *ngIf="errorMessage" style="color: red;">
    {{errorMessage}}
</div>
</div>